body {
    font-family: Arial, sans-serif;
    background-image: url('../image/bg_pendaftaran.jpg');
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #0073e6;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    text-align: center;
    margin-top: 20px;
}

.form-buttons .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
}

.form-buttons .btn-primary {
    background-color: #0073e6;
}

.form-buttons .btn-secondary {
    background-color: #6c757d;
}

.form-buttons .btn-warning {
    background-color: #ffc107;
}

.form-buttons .btn:hover {
    opacity: 0.8;
}
